[Unit]
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=root
Restart=on-failure

#Change this line if Prometheus is somewhere different
ExecStart=/usr/sbin/prometheus/prometheus \
  --config.file=/usr/sbin/prometheus/prometheus.yml \
  --storage.tsdb.path=/usr/sbin/prometheus/data

[Install]
WantedBy=multi-user.target
