[Unit]
Description=Grafana Server
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/sbin//grafana/bin/grafana-server
WorkingDirectory=/usr/sbin/grafana/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
